* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
}

#create_new_board {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(38, 137, 218);
    text-align: center;
}

#board_create_panel {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

#templates_background_panel {
    margin-top: 20px;
    width: 150px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.template_image {
    width: 64px;
    height: 48px;
    background-size: cover;
    margin-left: 10px;
    margin-bottom: 10px;
}

.create_panel_text {
    font-size: 16px;
    font-weight: bold;
}

#create_board {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 50px;
}

#top_panel {
    width: auto;
    height: 64px;
    background-color: rgba(96, 96, 96, 0.288);
    border-radius: 5px;
    padding: 8px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#board_name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

#prev_page {
    margin: 0 auto;
    margin-top: 16px;
    margin-right: 4px;
    width: 32px;
    height: 32px;
}

#next_page {
    margin: 0 auto;
    margin-top: 16px;
    margin-left: 4px;
    width: 32px;
    height: 32px;
}

#page_current {
    text-align: center;
    margin: 0 auto;
    margin-left: 32px;
    margin-right: 32px;
    color: white;
    margin-top: 24px;
}

#change_board_setup {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 10px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    color: white;
}

#list_block {
    width: 100vw;
    height: auto;
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

#create_new_list {
    width: 256px;
    height: 36px;
}

#new_list_creation {
    width: 256px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    background-color: white;
    border-radius: 5px;
}

#new_list_name {
    width: 256px;
    height: 16px;
    margin: 4px;
}

.list_creation_panel {
    width: 48px;
    margin: 4px 32px;
    height: 16px;
    text-align: center;
    padding: 0px;
}

.class_list {
    width: 256px;
    border-radius: 5px;
    height: auto;
    padding: 6px;
    background-color: white;
    text-align: left;
    color: black;
    margin-right: 24px;
    display: flex;
    flex-wrap: wrap;
}

.list_name_class {
    width: 200px;
    margin-left: 8px;
}

.list_edit_class {
    width: 48px;
    height: 48px;
    text-align: center;
    padding: 0;
}

.list_edit_panel_class {
    background-color: white;
    width: 256px;
    height: auto;
    padding: 4px;
    border: 3px solid black;
}

.list_type_name_class {
    font-size: 32px;
    margin: 4px;
}

.list_edit_name_class {
    width: 240px;
    height: 16px;
    margin: 16px 4px;
}

.list_edit_btn {
    width: 248px;
    height: 32px;
    margin: 8px 4px;
    text-align: center;
}

.add_card_class {
    width: 255px;
    height: 30px;
    margin: 0 auto;
}

.new_card_name_class {
    width: 250px;
    height: 15px;
    margin: 0 auto;
    margin-top: 20px;
}

.class_card {
    width: 250px;
    height: 60px;
    background-color: lightgreen;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
}